<?xml version="1.0" encoding="UTF-8"?>
<!-- Use: GATLING_JAVA_OPTS="-Dlogback.configurationFile=classpath:logback-dryrun.xml" for a noisier dry run -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="WARN"/>
    <logger name="akka" level="WARN"/>
    <logger name="com.typesafe" level="WARN"/>

    <!-- More HTTP detail than logback-test.xml; still avoids Netty chunk spam -->
    <logger name="io.gatling.http" level="INFO"/>
    <logger name="io.gatling" level="INFO"/>
    <logger name="pharmeasy.request" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
